.img-responsive{
        width: 100%;
        max-width: 100%;
        height: auto;
}



/*===================
    SKILL SECTION
====================*/

.logo-box{
    margin-left: 10px;
    width: 70px;
    min-width: 70px;

}

.logo{
    max-width: 100%;
    height: auto;
    
}